
  /* Add your desired styles here */
  .hidden {
    display: none;
  }
  
  .chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: height 0.3s ease-in-out; */
    z-index: 999; 
  }
  
  
  .chatbot-content {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    width: 500px;
    height: 700px;
    padding: 0px;
    transition: height 0.3s ease-in-out;
    z-index: 999; 
    border-radius: 15px !important;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 999; 
  }
  
  .close-button:hover {
    background-color: #ff0000; /* Change color on hover if desired */
  }
  
  /* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .chatbot-button {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px !important;
    font-size: 14px;
  }

  .chatbot-content {
    bottom: 10px;
    right: 10px;
    width: 90%;
    height: 80%;
    padding: 0px;
    overflow-y: scroll;
    transition: height 0.3s ease-in-out;
    z-index: 999; 
    border-radius: 15px
  }


  .close-button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px; 
    font-size: 12px;
  }
}